<include file="Public/header.html"/>

<!--/.header-->
<div id="#top"></div>
<section id="home">
    <div class="banner-container">
        <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <img src="__PUBLIC__/images/slides/x.jpg" alt="" />
                    <div class="flex-caption container">
                        <h3>初练音乐</h3>
                        <p>ToLearn Music.</p>
                        <a href="#" class="btn btn-theme">了解更多</a>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/images/slides/x.jpg" alt="" />
                    <div class="flex-caption container">
                        <h3>涂鸦美术</h3>
                        <p>TrueArt.</p>
                        <a href="#" class="btn btn-theme">了解更多</a>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/images/slides/x.jpg" alt="" />
                    <div class="flex-caption container">
                        <h3>集美健身</h3>
                        <p>Gymmate Sport.</p>
                        <a href="#" class="btn btn-theme">了解更多</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end slider -->
    </div>
</section>
<section id="services" class="page-section colord">
    <div class="container">
        <div class="row">
            <div class="text" style=" text-align:center;"><font size="7" color="#000000">艺人推荐</font></div>
            <div class="text" style=" text-align:center;"><font size="3" color="#000000">我还是很喜欢你 | 像风走了八千里  | 不问归期<br><br><br></font></div>
            <!-- item -->
            <div class="col-md-3 text-center"><div class="b1"> <i class="circle"><img src="__PUBLIC__/images/ax.jpg" alt="" /></i>
                <h3>大臣小小</h3>
                <p>吉他方向<br>沉心静气为学</p>
            </div></div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center"><div class="b1"><i class="circle"> <img src="__PUBLIC__/images/ax.jpg" alt="" /></i>
                <h3>汀兰</h3>
                <p>古筝方向<br>兴趣为先，把握细节</p>
            </div></div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center"><div class="b1"><i class="circle"> <img src="__PUBLIC__/images/ax.jpg" alt="" /></i>
                <h3>朝阳里里</h3>
                <p>尤克里里方向<br>分享快乐</p>
            </div></div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center"><div class="b1"><i class="circle"> <img src="__PUBLIC__/images/ax.jpg" alt="" /></i>
                <h3>叶小贝</h3>
                <p>打击乐方向<br>教育的艺术在于唤醒</p>
            </div></div>
            <!-- end:-->
        </div>
    </div>
    <!--/.container-->
</section>
<!--<section id="aboutUs">先隐藏掉
  <div class="container">
    <div class="heading text-center"> -->
<!-- Heading -->
<!--<h2>关于我们</h2>
<p>同学艺术交流平台，沉静艺术中心</p>
</div>-->
<!--<div class="row feature design">
  <div class="area1 columns right">
    <h3>学艺术，就这样！</h3>
    <p>学艺术，就这样！学艺术，就这样！学艺术，就这样！学艺术，就这样！学艺术，就这样！学艺术，就这样！学艺术，就这样！学艺术，就这样！</p>
    <p>学艺术，就这样！学艺术，就这样！学艺术，就这样！学艺术，就这样！学艺术，就这样！学艺术，就这样！学艺术，就这样！学艺术，就这样！</p>
  </div>
  <div class="area2 columns feature-media left"> <img src="images/feature-img-1.png" alt="" width="100%"> </div>
</div>
</div>
</section>-->
<!--
	作者：王臣
	时间：2016-09-02
	描述：客户先隐藏
<section id="clients">
  <div id="demo" class="clients">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="customNavigation"> <a class="prev"><i class="fa fa-chevron-circle-left"></i></a> <a class="next"><i class="fa fa-chevron-circle-right"></i></a> </div>
          <div id="owl-demo" class="owl-carousel">
            <div class="item"> <span class="helper"> <img src="images/clients/client-1.png" alt="client" /></span> </div>
            <div class="item"> <span class="helper"> <img src="images/clients/client-2.png" alt="client" /></span> </div>
            <div class="item"> <span class="helper"> <img src="images/clients/client-3.png" alt="client" /></span> </div>
            <div class="item"> <span class="helper"> <img src="images/clients/client-4.png" alt="client" /></span> </div>
            <div class="item"> <span class="helper"> <img src="images/clients/client-5.png" alt="client" /></span> </div>
            <div class="item"> <span class="helper"> <img src="images/clients/client-6.png" alt="client" /></span> </div>
            <div class="item"> <span class="helper"> <img src="images/clients/client-7.png" alt="client" /></span> </div>
            <div class="item"> <span class="helper"> <img src="images/clients/client-8.png" alt="client" /></span> </div>
            <div class="item"> <span class="helper"> <img src="images/clients/client-9.png" alt="client" /></span> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<section id="work" class="page-section page">
    <div class="container text-center">
        <div class="heading">
            <h2>同学风采</h2>
            <p>我还是很喜欢你 | 像风走了八千里  | 不问归期</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="portfolio">
                    <ul class="filters list-inline" style="display:none;">
                        <li> <a class="active" data-filter="*" href="#">All</a> </li>
                        <li> <a data-filter=".photography" href="#">Design</a> </li>
                        <li> <a data-filter=".branding" href="#">Development</a> </li>
                        <li> <a data-filter=".web" href="#">Mobile</a> </li>
                    </ul>
                    <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight" style="position: relative; height: 438px;">
                        <li class="item branding" style="position: absolute; left: 0px; top: 0px;"> <a href="images/work/00.jpg" class="fancybox"> <img src="__PUBLIC__/images/work/00.jpg" alt="">
                            <div class="overlay"> <span>ToShare</span> </div>
                        </a> </li>
                        <li class="item photography" style="position: absolute; left: 292px; top: 0px;"> <a href="images/work/00.jpg" class="fancybox"> <img src="__PUBLIC__/images/work/00.jpg" alt="">
                            <div class="overlay"> <span>ToShare</span> </div>
                        </a> </li>
                        <li class="item branding" style="position: absolute; left: 585px; top: 0px;"> <a href="images/work/00.jpg" class="fancybox"> <img src="__PUBLIC__/images/work/00.jpg" alt="">
                            <div class="overlay"> <span>ToShare</span> </div>
                        </a> </li>
                        <li class="item photography" style="position: absolute; left: 877px; top: 0px;"> <a href="images/work/00.jpg" class="fancybox"> <img src="__PUBLIC__/images/work/00.jpg" alt="">
                            <div class="overlay"> <span>ToShare</span> </div>
                        </a> </li>
                        <li class="item photography" style="position: absolute; left: 0px; top: 219px;"> <a href="images/work/00.jpg" class="fancybox"> <img src="__PUBLIC__/images/work/00.jpg" alt="">
                            <div class="overlay"> <span>ToShare</span> </div>
                        </a> </li>
                        <li class="item web" style="position: absolute; left: 292px; top: 219px;"> <a href="images/work/00.jpg" class="fancybox"> <img src="__PUBLIC__/images/work/00.jpg" alt="">
                            <div class="overlay"> <span>ToShare</span> </div>
                        </a> </li>
                        <li class="item photography" style="position: absolute; left: 585px; top: 219px;"> <a href="images/work/00.jpg" class="fancybox"> <img src="__PUBLIC__/images/work/00.jpg" alt="">
                            <div class="overlay"> <span>ToShare</span> </div>
                        </a> </li>
                        <li class="item web" style="position: absolute; left: 877px; top: 219px;"> <a href="images/work/00.jpg" class="fancybox"> <img src="__PUBLIC__/images/work/00.jpg" alt="">
                            <div class="overlay"> <span>ToShare</span> </div>
                        </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="plans" class="page-section">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>同学课程</h2>
            <p>我还是很喜欢你 | 像风走了八千里 | 不问归期</p>
        </div>
        <div class="row flat">
            <div class="col-lg-3 col-md-3 col-xs-12">
                <ul class="plan plan1 featured">
                    <li class="plan-name">ToLearn初练</li>
                    <!--<li class="plan-price"> <strong>$29</strong> / month </li>
                    <li> <strong>5GB</strong> Storage </li>
                    <li> <strong>1GB</strong> RAM </li>
                    <li> <strong>400GB</strong> Bandwidth </li>
                    <li> <strong>10</strong> Email Address </li>
                    <li> <strong>Forum</strong> Support </li>-->
                    <li class="plan-action"> <a href="#" class="btn btn-danger btn-lg">了解更多</a> </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <ul class="plan plan2 featured">
                    <li class="plan-name">TrueArt涂鸦</li>
                    <!--<li class="plan-price"> <strong>$39</strong> / month </li>
                    <li> <strong>5GB</strong> Storage </li>
                    <li> <strong>1GB</strong> RAM </li>
                    <li> <strong>400GB</strong> Bandwidth </li>
                    <li> <strong>10</strong> Email Address </li>
                    <li> <strong>Forum</strong> Support </li>-->
                    <li class="plan-action"> <a href="#" class="btn btn-danger btn-lg">了解更多</a> </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <ul class="plan plan3 featured">
                    <li class="plan-name">Gymate集美</li>
                    <!--<li class="plan-price"> <strong>$199</strong> / month </li>
                    <li> <strong>50GB</strong> Storage </li>
                    <li> <strong>8GB</strong> RAM </li>
                    <li> <strong>1024GB</strong> Bandwidth </li>
                    <li> <strong>Unlimited</strong> Email Address </li>
                    <li> <strong>Forum</strong> Support </li>-->
                    <li class="plan-action"> <a href="#" class="btn btn-danger btn-lg">了解更多</a> </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <ul class="plan plan4 featured">
                    <li class="plan-name">Ucourse游课</li>
                    <!--<li class="plan-price"> <strong>$999</strong> / month </li>
                    <li> <strong>50GB</strong> Storage </li>
                    <li> <strong>8GB</strong> RAM </li>
                    <li> <strong>1024GB</strong> Bandwidth </li>
                    <li> <strong>Unlimited</strong> Email Address </li>
                    <li> <strong>Forum</strong> Support </li>-->
                    <li class="plan-action"> <a href="#" class="btn btn-danger btn-lg">了解更多</a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="team" class="page-section">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>同学推荐</h2>
            <p>我还是很喜欢你 | 像风走了八千里 | 不问归期</p>
        </div>
        <!-- Team Member's Details -->
        <div class="team-content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="__PUBLIC__/images/toshare_logo.jpg" alt=""> </div>
                        <!-- Member Details -->
                        <h4>大臣小小</h4>
                        <!-- Designation -->
                        <span class="pos">吉他方向</span>
                        <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-github"></i></a> </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="__PUBLIC__/images/toshare_logo.jpg" alt=""> </div>
                        <!-- Member Details -->
                        <h4>汀兰</h4>
                        <!-- Designation -->
            <span class="pos">古筝方向
			</span>
                        <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-github"></i></a> </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="__PUBLIC__/images/toshare_logo.jpg" alt=""> </div>
                        <!-- Member Details -->
                        <h4>叶小贝</h4>
                        <!-- Designation -->
                        <span class="pos">打击乐方向</span>
                        <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-github"></i></a> </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="__PUBLIC__/images/toshare_logo.jpg" alt=""> </div>
                        <!-- Member Details -->
                        <h4>朝阳里里</h4>
                        <!-- Designation -->
                        <span class="pos">尤克里里方向</span>
                        <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-github"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>
<!--<section id="contactUs" class="contact-parlex">先隐藏掉
  <div class="parlex-back">
    <div class="container">
      <div class="row">
        <div class="heading text-center">
           Heading
          <h2>联系我们</h2>
          <p>请将您想说的话写给我们</p>
        </div>
      </div>
      <div class="row mrgn30">
        <form method="post" action="" id="contactfrm" role="form">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">尊姓大名</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="请写下您的姓名" title="Please enter your name (at least 2 characters)">
            </div>
            <div class="form-group">
              <label for="email">电子邮件</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="留个邮箱方便联系哦" title="Please enter a valid email address">
            </div>
            <div class="form-group">
              <label for="comments">意见建议</label>
              <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="仁者见仁智者见智，请您畅所欲言哦" title="Please enter your message (at least 10 characters)"></textarea>
              <button name="submit" type="submit" class="btn btn-lg btn-primary" id="submit">提交</button>
            </div>
            <div class="result"></div>
          </div>
        </form>
      </div>
    </div>
    /.container
  </div>
</section>-->


<include file="Public/bottom.html" />
