<include file="Public/header.html"/>
<title>教员库中心</title>
<!--教员库中心-->
<div class="content">
    <div class="container body-set">
        <div class="row">
            <div class="col-xs-12">
                <div class="header">
                    <div class="site-name"><h1 class="modal-title text-center"></h1></div>
                    <div class="logoimg text-center"><img width="78px;" src="__PUBLIC__/images/teacher/teacher-icon.png"/></div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 100px;padding-bottom: 50px;">
          
            <p>this is a student page</p>
            
        </div>
    </div>
</div>

<include file="Public/bottom.html" />
